aiofiles==0.3.1
alembic==0.9.5
click==6.7
httptools==0.0.9
import-string==0.1.0
itsdangerous==0.24
Mako==1.0.7
manage==0.1.13
manage.py==0.2.10
MarkupSafe==1.0
mimeparse==0.1.3
python-dateutil==2.6.1
python-editor==1.0.3
PyYAML==3.12
sanic==0.6.0
jinja2
git+https://github.com/gonrin/gatco.git
git+https://github.com/gonrin/gatco_auth.git
git+https://github.com/gonrin/gatco_jinja2.git
git+https://github.com/gonrin/gatco_sqlalchemy.git
git+https://github.com/gonrin/gatco_restapi.git
git+https://github.com/gonrin/gatco_acl.git
six==1.10.0
SQLAlchemy==1.1.13
ujson==1.35
uvloop==0.8.0
websockets==3.3
passlib
#psycopg2